.content{
    padding: 10px;
    color: #fff;
    border: 1px solid white;
    /* border-top:0; */
}
.active{
    border:3px solid black;
}

span{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
/* background-color: #282c34; */
/* color: #61dafb; */
